.Challenge{
    overflow-y: hidden;
    background-color: #d95f5f;
    margin: 20px 0;
    /* transition: max-height .2s ease-out; */
}

.Title{
    height:60px;
    color: #444;
    cursor: pointer;
    border:none;
    padding: 18px;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
}

.Title:hover{
    background-color: rgba(0, 0, 0, .3);
}