.BarWhole{
    padding:5px;
}
.title{
    width:100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
.BarContainer{
    display: flex;
    flex-direction: row;
}
.BarContainer button{
    padding:10px;
    margin-left: 10px;
}
.Toggle{
    height:40px;
    width:100%;
    border-radius: 20px;
    border:2px solid lightgrey;
    cursor: pointer;
    outline: none;
}
.Toggle:hover{
    border-color: black;
}
.BarText{
    position: relative;
    text-align: center;
    font-size: 20px;
    width:100%;
    bottom: 30px;
}